{% block quill_widget %}
    {%- set controllerName = "ehyiah--ux-quill--quill"%}
    {% set dataSet = "data-ehyiah--ux-quill--quill" %}

    <div class="quill-container"
         data-controller="{{ controllerName }}"
         {{ dataSet }}-toolbar-options-value="{{ attr['quill_options'] }}"
         {{ dataSet }}-extra-options-value="{{ attr['quill_extra_options'] }}"
    >
        <label>
            <textarea style="display: none" {{ block('widget_attributes') }}
                      {{ dataSet }}-target="input"
            >
                {{ value|raw|sanitize_html('quill_default_sanitizer') }}
            </textarea>
        </label>

        <div>
            <div class="quill-editor"
                 {{ dataSet }}-target="editorContainer"
            >
                {# TODO check both differences for sanitizing #}
                {{ value|raw|sanitize_html() }}
                {{ value|raw|sanitize_html('quill_default_sanitizer') }}
            </div>
        </div>
    </div>
{% endblock %}
