{% block quill_widget %}
    {%- set controller_name = "ehyiah--ux-quill--quill" -%}
    {% set data_set = "data-ehyiah--ux-quill--quill" %}
    {% set html_sanitizer = attr['sanitizer'] %}

    <div class="quill-container"
         data-controller="{{ controller_name }}"
         {{ data_set }}-toolbar-options-value="{{ attr['quill_options'] }}"
         {{ data_set }}-extra-options-value="{{ attr['quill_extra_options'] }}"
    >
        <div>
            <input type="hidden"
                   value="{{ value }}"
                    {{ block('widget_attributes') }}
                   {{ data_set }}-target="input"
            >
        </div>

        <div>
            <div class="quill-editor"
                 {{ data_set }}-target="editorContainer"
            >
                {% if html_sanitizer is not null %}
                    {{ value|raw|sanitize_html(html_sanitizer) }}
                {% else %}
                    {{ value|raw }}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
